
.box{
  width:300px;
  padding:100px;
  position:center;
  transform:translateX(170%);
  background:#191919;
  text-align:left;
}

.box h1{
  color:white;
  text-transform:uppercase;
  font-size:0.5;
  transform:translateX(-30%);
}

.box input[type="text"]{
  brorder:0;
  background:none;
  display:block;
  margin:20px auto;
  text-align: center;
  border:2px solid #3498db;
  padding:12px 15px;
  width:200px;
  outline:none;
  color:white;
  border-radius: 24px;
  transition:0.25s;
  transform:translateX(-25%);
}

.box button{
  brorder:0;
  background:none;
  display:block;
  margin:20px auto;
  text-align: center;
  border:2px solid #2ecc71;
  padding:24px 10 px;
  width:100px;
  outline:none;
  color:white;
  border-radius: 24px;
  transition:0.25s;
  cursor:pointer;
}
